/* red */
#page_bg {
	background: #C9CA1C;
}

div#wrapper {
		background: #f7f7f7 url(../images/giallo/mw_shadow_l.png) 0 0 repeat-y;
}

div#wrapper_r {
	background: url(../images/giallo/mw_shadow_r.png) 100% 0 repeat-y;
}

div#header {
	background: url(../images/giallo/mw_header_t.png) 0 0 repeat-x;
}

div#header_l {
	background: url(../images/giallo/mw_header_t_l.png) 0 0 no-repeat;
}

div#header_r {
	background: url(../images/giallo/mw_header_t_r.png) 100% 0 no-repeat;
}

div#footer {
	background: #f7f7f7 url(../images/giallo/mw_footer_b.png) 0 100% repeat-x;
}

div#footer_l {
	background: url(../images/giallo/mw_footer_b_l.png) 0 0 no-repeat;
}

div#footer_r {
	background: url(../images/giallo/mw_footer_b_r.png) 100% 0 no-repeat;
}
