
.fb-like{

	margin-top:70px;
	margin-bottom:70px;

}


.calendar > div.main > table {
	line-height: normal;
}
.calendar > div.main > table > tr {
	line-height: normal;
}
.calendar > div.main > table > tr > td{
	line-height: normal;
}
.calendar > div.main {
	line-height: normal;
}
.calendar {
	line-height: normal;
}

.error{
	color: red;
}
.positiveMessage{
	color:green;
}
span.positiveMessage{
	display:inline-block;
	margin-bottom:10px;
}

textarea{
	resize: none;
	max-width:100%;
}
hr{
	background:#F87431;
	border:0;
	height:2px;
}

input[type=submit]{
	border-radius: 30px;
	background-color: #3b5998;
	color: white;
	box-shadow: 0px;
	border: 0px;
	font-size:large;
	margin:5px;

}
#closeMenu{
	border-radius: 30px;
	background-color: #3b5998;
	color: red;
	box-shadow: 0px;
	border: 0px;
	font-size:x-large;
	font-weight:bold;
	position:relative;
	top:-10px;
	right:-30px;
	float:right;
	cursor:pointer;
}
input[type=submit]:hover{
	cursor:pointer;
}

.alzamodulo{
	position:relative;
	top: -30px;
}


#msg{
	border: 2px solid #3b5998;
	border-radius: 50px;
	weight:30%;
	height:30%;
}


#displayLinkGen{
	position:fixed;
	background-color:#3b5998;
	color:white;
	opacity:0.9;
	bottom:0px;
	font-weight:bold;
}














div.greyMessage{
	font-family: 'Arvo', serif;
	color:gray;
	font-size: 3em;
	line-height: 2em;
	display : block;
	margin : auto;
	text-align: center !important;
	vertical-align: middle;
}

img.lock{
	min-width:100px;
	min-height: 100px;
	height:40%;
	width:40%;
	display : block;
	margin : auto;
}

.bigMessageContainer{
	text-align: center !important;
	vertical-align: middle;
	margin-top: 12em;
	margin-bottom: 12em;
}

.smallMessageContainer{
	text-align: center !important;
	vertical-align: middle;
	margin-top: 6em;
	margin-bottom: 6em;
}

.material-icons.big { font-size: 30em;
}
.material-icons.small { font-size: 5em;
}
.material-icons.grey {
	color: #808080;}



.fontBulo{
	font-family: 'Arvo', serif;
	font-size: 1.5em;
	font-weight: 500;
}

.item-title{

}

h2{
	font-family: 'Arvo', serif !important;
	font-size: 2.3em!important;
	font-weight: 700!important;
	color: #808080!important;
	margin-top:1.5em!important;
	margin-bottom:1em!important;
	line-height: 1em !important;
}

h2.rientrato{
	margin-left:5%!important;
}

.divBulo{
	font-family: 'Arvo', serif !important;
	font-size: 1.5em!important;
	font-weight: 300!important;
	color: #808080!important;
	margin-top:20px!important;
}
.divBulo.rientrato{
	margin-left:5%!important;
}







/*ISCRIZIONE*/


div.iscrizione {
	color: #3b5998;
	font-weight:600;
	border: 2px solid #3b5998;
	padding:30px;
	margin-bottom:20px;

}
span.iscrizione {
	color: #3b5998;
	font-weight:800;


	margin-bottom:10px;

}


/*FINE ISCRIZIONE*/











/*PROPOSTA*/
form.proposta{

	width: 90%;

}
div.proposta {
	color: #3b5998 !important;
	font-weight:600;
	border: 2px solid #3b5998;
	padding:30px;
	margin-bottom:20px;

}
.proposta textarea{
	margin-top:10px;
	margin-bottom:10px;

}


.editorContainer div{
	width:auto;
}

#ddg1, #ddg2, #ddg3, #ddg4, #ddg5{
	margin-top:5px;
}
#ddg1{
	margin-bottom:5px;
}
/*FINE PROPOSTA*/






/* PROFILO */
.menuProfilo{
	border: 1px solid white;
	width: 100%;
	border-collapse:collapse;
	border-radius: 50px;
	background-color: #3b5998;
	color: white;
	line-height: 1.5em;

}
.menuProfilo td{
	border: 1px solid white;
}

.menuProfilo a{
	text-decoration:none;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bolder;
}
/*FINE PROFILO*/




/*LISTA PROPOSTE*/
.listaProposte{
	width:100%;
	border: 1px solid #F87431;
	padding:3px;
	border-collapse:collapse;
}
.listaProposte td{
	text-align:center;
	border: 2px solid #F87431;
	padding:10px;
}
.listaProposte tr{

	border: 2px solid #F87431;

}
.listaProposte th{
	padding:10px;
	text-align:center;
	color: #3b5998;
	border: 3px solid #3b5998;
	font-weight:bolder;
}
/*FINE LISTA PROPOSTE*/


















/*TABELLA ARTICOLO INTRO DI GITA */
.tabIntro{

	width: 100%;
	border-collapse:collapse;
	border: 2px solid #3b5998;
	font-size:100%;
	line-height:150%;
	font-family:Palatino Linotype,arial,helvetica,sans-serif;
	table-layout:fixed;

}
.tabIntro td{
	padding:5px;
}

.introData{
	font-size:130%;
}
.imgIntro{
	margin-left:30px;
	border:0px;
	width:120px;
	height:120px;
}

.introTitolo{
	font-size:200% !important;
	line-height:100%;
	color:#3b5998;
}
.introLogo{
	width:33%;
}
/*TABELLA ARTICOLO INTRO DI GITA */

























/*TABELLA ARTICOLO DI GITA */

.tabellaArticolo{

	width: 100%;
	min-height:512px ;
	border-collapse:collapse;
	border: 0px solid lightblue;
	font-size:160%;
	line-height:150%;
	font-family:Palatino Linotype,arial,helvetica,sans-serif;
	table-layout:fixed;
}

.bordoEPadding{
	border: 2px solid #3b5998;
	padding:20px;
}
.tabellaArticolo tr td{
	/*border: 2px solid #3b5998;*/
	width: 100%;
	overflow:auto;
}
.etichetta{
	color:#326291;
	font-weight:600;

}
#logoCaiArticolo img{
	width:100%;
	position: relative;

}
#titoloArticolo{
	color:#3b5998 !important;
	font-weight:900 !important;
	text-align:center !important;
	font-size:250% !important;
	font-weight:900 !important;

}
#dataArticolo{
	max-width:50%;

}
.slideshowCell{
	max-width:100%;
	max-height:550px;

}
.slideshow{
	position: relative;
	border:0px solid white;
	max-width:100%;
	max-height:100%;
}
.nestedTable{
	border-collapse:collpase;
	border: 0px;
	padding:10px;
	min-height:0px ;
	width:inherit;
}

.nestedTable tr td{
	border-collapse:collpase;
	width:inherit;
	padding:15px;
}
.tdTableContainer{
	border-collapse:collpase;
	padding: 0px !important;
	margin:0px;
	border:0px;
}


/* FINE TABELLA ARTICOLO DI GITA */

























/*TABELLA MOSTRA SOCI */
.tabSoci{
	border: 1px solid beige;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
table.tabSoci{
	width: 90%;
	position: relative;
	margin-top:50px;
}
.tabSociTitle{
	border: 1px solid black;
	background-color: #3b5998;
	color: white;

}
/*FINE TABELLA MOSTRA SOCI */




























/* PAGINATION CSS */
.paginate{
	position: relative;
	/*top: 3em;*/
	border: 1px solid #000004;
	min-width: 1.4em;
	min-height: 1.4em;
	display:inline-block;
	text-align: center;
	padding: 1px;


}

.paginate:hover{
	border: 1px solid #3e4491;
	background-color: #3e4491 ;
	color: white;
	min-width: 1.4em;
	min-height: 1.4em;
	display:inline-block;
	text-align: center;

}
.current:link{
	position: relative;
	/*top: 3em;*/
	border: 1px solid #3e4491;
	background-color: #3e4491;
	color: white;
	min-width: 1.4em;
	min-height: 1.4em;
	display:inline-block;
	text-align: center;
	padding: 1px;
}
.current:visited{
	position: relative;
	/*top: 3em;*/
	border: 1px solid #3e4491;
	background-color: #3e4491;
	color: white;
	min-width: 1.4em;
	min-height: 1.4em;
	display:inline-block;
	text-align: center;
	padding: 1px;
}

span.paginate{
	border: none;
}
select.paginate{
	background-color: white;
}
select.paginate:hover{
	background-color: white;
	color: black;
	min-height: auto;
	min-width: auto;
}
/*FINE PAGINATION CSS */

.containerSS {

	background-color: black;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.containerSS div {
	background-color: white;
	width: 100% !important;
	display: inline-block  ;
	display: none;
	height: 350px;
    	max-height: 350px;
}
.containerSS img {
	
}

button {
	position: relative;
}

.nextSS {
	float:right !important;
}

.prevSS {
	left: 5px !important      ;
}






.export_link{
	font-size: 300%;
}

/*Pagination*/
a.pagination{
	font-size: 120%;
}

@media print {
	.hideOnPrint{
		display: none !important;
	}
	.slideshowCell{
		/*visibility:collapse !important;*/
	}

	@page {
		size: auto;   /* auto is the initial value */
		margin: 0;  /* this affects the margin in the printer settings */
	}

	#section-to-print{
		margin-top:100px;
	}
}
