
/* ++++++++++++++  Custom CSS  ++++++++++++++ */

#main_top {width:100%;height:100px;background-image:linear-gradient(#BDD8F0, #6596C3);border-bottom:2px solid #347A99}
.sidebar h3,.box_content h3{background-color:#7CAFDD;border: 1px solid #95BCE3;}
#navigation ul li ul {width:15em;}
#sitename {color:#fff;text-shadow:1px 1px 2px #555}
#navigation > ul > li { box-shadow:0 -3px 2px #638BB9;}
#logo {box-shadow:0px -3px 2px #93B5DD;}