
/*
 * @version             1.0.0
 * @package             JoomlAir
 * @copyright			Copyright (C) 2015 schefa.com. All rights reserved.
 * @license				Creative Commons Attribution-Share Alike 3.0 Unported
*/

.dq-left, .dq-right{float:left;text-align:left;} 
.background{float:left;}

#middle { }
#middle.toggle .dq-left{width:70%;}
#middle.toggle .dq-right{width:30%;overflow:hidden;}
#dq-toggle {background-color:#666;display:block;float:left;height:40px;padding-top:6px;border-radius:4px;width:40px;display:none;margin:0 5px 5px 0;}
.icon-bar {background-color:#999;border-radius:3px;float:left;height:3px;margin:3px 20%;width:60%;}

@media screen and (max-width:767px){
 .dq-left{display:none;}#dq-toggle {display:block;}#middle .dq-right{width:100%;}
 #maincontent > div{width:100%;}#middle #sitename{padding:0 5px;}
}
@media screen and (min-width:768px){
 #content_out,#content_outright {margin-left:-25%;}
}

body {font-family:Arial, Verdana, Helvetica, sans-serif; margin:0px;padding:0px;font-size:12px; font-weight:normal;color:#000000;text-align:left;}
.container {padding:0px;margin:0 auto;text-align:left;}

/*-----------------------------------*/
/*----------------- Linke Spalte ------------------*/
/*-----------------------------------*/

#left_out,#right_out{margin-top:-80px;}
#left_out {float:left;}
#logo {border-radius:4px 4px 0 0;background-color:#fff;background-repeat:no-repeat;/*padding:30px 10px 0 10px loryzizu*/ padding:30px 30px 0 10px;margin-bottom:20px;min-height:100px;}
#logo img{max-width:100%;}

/*-----------------------------------*/
/*----------------- Sidebars ------------------*/
/*-----------------------------------*/

.sidebar h3, .box_content h3 {color:#FFFFFF;margin:5px -10px;border-radius:4px;padding:10px;text-align:left;font-weight:bold;font-size:13px;}
.sidebar > div, .box_content > div {margin:0 0 10px 0;padding:0 15px 20px 15px;overflow:hidden;border-radius:4px;}

.sidebar ul {margin:0; padding:0px;list-style-type:none;}
.sidebar ul li{padding:0px;margin:0px;color:#999;list-style-type:none;}
.sidebar ul ul {padding:0 0 0 15px;margin:0px 0px 5px 0px;list-style-type:disc;}
.sidebar ul ul li{padding:0px;margin:0px;list-style-type:disc;}
.sidebar ul a,.sidebar ul li > span {color:#555;font-size:12px;border-top:1px solid #ccc;padding:8px 5px;display:block;text-decoration:none !important;}
.sidebar ul li:first-child a  {border-top:0 none !important;}
.sidebar ul ul a {padding:6px 5px;margin:0px;border:none !important;}
.sidebar ul li > a:hover,.sidebar ul li.current > a  {text-decoration:none;color:#000;background-color:#eee;}
.sidebar ul li.current ul li a {background:none !important;}

/*-----------------------------------*/
/*----------------- Rechte Spalte ------------------*/
/*-----------------------------------*/

#right_out {padding:0 0 0 10px;}
#header {height:116px;display:block;margin:0 0 10px 0;}
.banner{margin:10px 0;}
.banner img{max-width:100%;width:100%;}

#pathway_out {border-bottom:1px solid #eee;display:block;margin:0 0 10px 0;padding:8px 16px;}
#pathway {height:24px;line-height:24px;float:left;}
#pathway a, #pathway span {color:#999999;}
#pathway img {display:none;}

#search {margin:0;padding:4px 5px;overflow:hidden;float:right;width:150px;border:1px solid #ccc;background-color:#FFFFFF;}
#search .inputbox {margin:0;padding:0;width:150px;font-size:11px;color:#999999;border:none;background:none;}
#search label, #navigation h3 {display:none;}

#sitename {font-size:21px; padding:10px 0 15px 15px;}
#navigation {heaight:68px;font-size:15px;}
#navigation ul {padding:0; margin:0; list-style:none; line-height:1;}
#navigation ul li {background-color:#fff;list-style:none; padding:0 2px 0 0; margin:0 7px 0 0;float:left;width:auto;}
#navigation > ul > li {border-radius:4px 4px 0 0; }
#navigation ul a, #navigation ul li > span {color:#777;text-align:center;display:block;width:auto;margin:0;text-indent:0;padding:0 18px;height:48px;line-height:47px;text-decoration:none;border:0 none;font-weight:normal;background:none;}
#navigation ul li:last-child a, #navigation ul li:last-child .separator {background-image:url(none);}
#navigation ul li li a, #navigation ul li li .separator {font-family:Helvetica, Arial, sans-serif;text-transform:none;}
#navigation ul a:hover {text-decoration:none;}
#navigation ul li.current, #navigation ul li.active {}
#navigation ul li.current > a, #navigation ul li.current > span{color:#000;}


#navigation ul li ul {position:absolute;box-shadow:0 1px 1px #aaa;background-color:#fff;border-radius:0 0 3px 3px;font-size:13px;left:-999em;padding:1em 0.3em 1em 0.3em;z-index:999;border-top:none !important; margin-left:-2px;}
#navigation ul li.active ul {background-color:#FFF !important;border:1px solid #EEE;border-top:none;border-radius:0 0 5px 5px;margin-left:0;}
#navigation ul li.active li {background:#FFF url(none);padding:5px 0;margin:0;height:120%;}
#navigation ul li.active li a, #navigation ul li li.active a, #navigation ul li.active li .separator, #navigation ul li li.active .separator {background:#FFF url(none);height:120%;line-height:120%;padding:0 15px 0 15px;}
#navigation ul li li.current a, #navigation ul li li.current .separator, #navigation ul li li.active a, #navigation ul li li.active .separator {height:120%;line-height:120%;}
#navigation ul li li, #navigation ul li li a {float:none;background-image:url(none);}
#navigation ul li ul a, #navigation ul li ul li > span {text-align:left; display:block; width:auto;padding:6px 15px; height:120%;line-height:120%; text-decoration:none;}
#navigation ul li ul a:hover {text-decoration:underline;}


#navigation ul li ul ul, #navigation ul li.active ul ul {margin:-1em 0 0 8em;}
#navigation ul li:hover ul ul, #navigation ul li:hover ul ul ul {left:-999em;}
#navigation ul li:hover ul, #navigation ul li li:hover ul, #navigation ul li li li:hover ul {left:auto;}




/*-----------------------------------*/
/*----------------- Position 3 und 4 ------------------*/
/*-----------------------------------*/
.box_content {display:block;padding:0px;width:100%;overflow:hidden;}
.box_content ul, .box_content li, #userbottom ul, #userbottom li {padding:0 0 0 15px;margin:0;}
.top_module_1 {width:100%;}
.top_module_2 {width:49%;}

#maincontent {width:100%; height:auto; padding:0; margin:0; float:left;}
#content_outright {padding:0 10px 0 0;}
#content_outnoright {}
#content {padding:10px;margin-bottom:15px;}
#component {}
#content p , #content td , #content li , fieldset dt {line-height:160%;font-size:120%;text-align:justify;}
#content p img {padding:0;margin:5px 10px 5px 0;} 
#content a:hover {text-decoration:underline;}
.content-right {padding:0 15px 0 0;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
a.readon {border-left:2px solid #6699FF; padding:2px 0 2px 5px; margin:3px 0 0 0; float:left;}

/*-----------------------------------*/

#bottom {background:#111111;border-top:2px solid #666;float:left;margin:0;text-align:center;width:100%;}

#bottom, #bottom span, #bottom td,  #bottom div, #bottom p, #bottom li, #footer span, #footer {color:#7F7F7F ;}
#bottom a, #bottom span a, #bottom td a,  #bottom div a, #bottom p a, #bottom li a, #footer span a, #footer a{color:#999 ;}


/*-----------------------------------*/

#userbottom {margin:0;padding:10px 0 20px 0;overflow:hidden;}
#userbottom h3, #userbottom th {font-weight:normal;padding:15px 0 10px 0;color:#EEE;}
#userbottom ul {margin:0;padding:0 0 0 15px;}
#userbottom li {padding:5px 0;}

.user1, .user2, .user3, .user4 {float:left;overflow:hidden;}
.user4 {width:24%;}
.user3 {width:32%;}
.user2 {width:49%;}
.user1 {width:99%;}

/*-----------------------------------*/

#footer {background:#111111;border-top:2px solid #222; padding:15px 0 20px 0;margin:0;text-align:center;float:left;width:100%;}
#footer span {font-size:90%;}
.sitetitle {float:left;padding:0 0 0 10px;}
.footer {float:right;padding:0 10px 0 0;}

.clearfloat, .clr {clear:both;height:0;font-size:1px;line-height:0px;}
/*-----------------------------------*/
/*------------------ ENDE Struktur ------------------*/
/*-----------------------------------*/




/*-----------------------------------*/
/*------------------ Content Styles ------------------*/
/*-----------------------------------*/

img {border:none;padding:0;margin:0;}
.highlight {background-color:#FFFF99;}
.message {background:#FFFF66;border:1px solid #000;padding:10px 20px;margin-bottom:10px;text-align:center;}

#component .page-header{margin:10px 0}
#component h1,#component h2,#component h3,#component h4,#component h5 {padding:5px 0;margin:0;}
#component h1, .componentheading  {color:#FFFFFF;font-size:170%;font-weight:normal;background:#666666;padding:5px 0px 5px 15px;text-align:left;margin:0 0 20px 0;}
#component h2 {font-size:170%;}
#component h3 {font-size:150%;}
#component h4 {font-size:120%;;}
#component h5 {font-size:90%;}

.contentpane, .contentpaneopen {width:100%;}
.contentdescription, .category-desc {padding:10px 20px 20px 20px;}
.item-separator {height:10px;}

.button, button{background:#EEEEEE;border:1px solid #CCCCCC;color:#666666;margin:5px 0px;padding:4px 5px;/*text-transform:uppercase*/;font-size:11px;font-family:Verdana, Arial, Helvetica, sans-serif;}
.button:hover, button:hover {background:#F4F4F4;text-decoration:underline;}

.sectiontableheader {background:#84A9CE;color:#FFFFFF;padding-left:5px;height:30px;font-size:14px;}
.sectiontableheader a {color:#FFFFFF !important;}
.sectiontableentry1, .sectiontableentry2 {height:30px;text-indent:5px;}

td, tr, p, div {font-family:Arial, Verdana, Helvetica, sans-serif;font-size:12px;/*color:#000000 loryzizu*/;margin:0px;padding:0px;}

/* Input Boxes */
fieldset, fieldset .small {border:none !important;}
form, fieldset {margin:0;padding:0;border:none;}
input.inputbox {padding:4px 5px;width:90%;margin:5px 0px;}
input#modlgn_remember, input#modlgn-remember {margin:0;padding:0;width:auto !important;}
#content input {padding:5px 6px;width:auto;margin:5px 0px;font-size:120%;color:#666;border:1px solid #CCC;background:#FFF; }
#content label {width:40%;float:left;}
#content label#jform_spacer-lbl {float:none;width:auto;}

.display-limit {padding:0 0 10px 0;}
.display-limit select {color:#666;border:1px solid #CCC;background:#FFF;padding:3px 4px;}

/* Article */
.cols-2 .column-1, .cols-2 .column-2 {float:left;width:47%;margin-right:3%;}
.cols-3 .column-1, .cols-3 .column-2, .cols-3 .column-3 {float:left;width:31%;margin-right:2%;}
.cols-4 .column-1, .cols-4 .column-2, .cols-4 .column-3 {float:left;width:24%;margin-right:1%;}

ul.actions {position:absolute;right:0px;top:0px;padding:0;}
.actions li {float:left;display:inline;padding:4px 5px;}
ul.actions li, ul.actions li img {padding:0 !important;margin:0 !important;border:none;}

dt.category-name, dt.create, dt.modified, dt.createdby{ float:left;padding-right:5px;}
dd.createdby {}

fieldset dt {padding:3px 0 5px 0 ; margin:0; }
fieldset dd {padding:0 ; margin:0; }
.item-page, .item, .leading-0 {position:relative;}
.article-info  {width:100%;padding:5px 0;}
.article-info dt {display:none;margin:0;padding:0;}
.article-info dd {float:left;font-size:90%;padding:0 9px;margin:0;border-right:1px solid #CCC;color:#666;}
.icons{position:absolute;top:0;right:0;}

.contentheading, .item-page h2 {font-size:170%;height:170%;color:#6699CC;line-height:160%;}
.contentheading a, .item-page h2 a{color:#6699CC !important;}

.date {font-weight:bold;margin-top:10px;}
.small {color:#999999;}
.smalldark {color:#999999;}
.createdate {color:#999999;}
.modifydate {font-size:10px;color:#999999;}

/**************************/
/******** Pagenav *********/
/**************************/

.pagination ul:before,.pagination ul:after{content:" ";display:table}.pagination ul:after{clear:both}.pagination ul>li{display:inline-block;vertical-align:top}.pagination ul>li:nth-child(n+2){margin-left:5px}.pagination ul>li>a,.pagination ul>li>span{display:inline-block;min-width:16px;padding:3px 5px;line-height:20px;text-decoration:none;-moz-box-sizing:content-box;box-sizing:content-box;text-align:center}.pagination ul>li>a{background:#eee;color:#444}.pagination ul>li>a:hover,.pagination ul>li>a:focus{background-color:#f5f5f5;color:#444;outline:0}.pagination ul>li>a:active{background-color:#ddd;color:#444}.pagination ul>.active>span{background:#00a8e6;color:#fff}.pagination ul>.uk-disabled>span{background-color:#f5f5f5;color:#999}.pagination-prev{float:left}.pagination-next{float:right}.pagination-left{text-align:left}.pagination-right{text-align:right}

.pager , .pagenav{ list-style-type:none;padding:0;margin:0;overflow:hidden; }
.pager li a , .pagenav li a{margin:0 12px;border-radius:8px;}

/* ++++++++++++++  readmore  ++++++++++++++ */
.readmore {margin:5px 0 0 0;}
.readmore a {color:#8B8B8B;padding:1px 3px;}
.readmore a:hover {} 

/**************************/

code { border: 1px solid #EEE;padding: 3px 5px;background-color: #F7F7F7;border-radius: 3px;font-family: Times "Times New Roman", Times, serif;}
pre {background-color: #F5F5F5;	border: 1px solid #DDD;	border-left: 4px solid #DDD;padding: 15px 10px 15px 20px;	margin: 10px 0;word-wrap: break-word;word-break: break-all;white-space:pre-wrap;}
code, pre { font-family:monospace, Times, serif;font-size: 12px;}
small, .small, cite { color: #777;}
strong {  font-weight: bold;}
abbr { border-bottom: 1px dotted #999999;cursor: help;}
address { font-style: normal;line-height: 120%;}
blockquote {padding: 5px 20px;	font-style: normal;border-left: 4px solid #EEE;margin: 10px 0;}
blockquote small:before{ content: "— ";}

/** Category */
.cat-children, .item-separator, .content-links {clear: both;}
.cat-children .last {padding: 0 0 15px 0;}
.cat-children li {padding: 0 0 15px 0;}
.categories-list ul {padding: 0;list-style: none;border-left: 1px solid #EEE;margin: 8px 3px;}
.categories-list li {  padding: 3px 15px 0 15px;margin-left: 10px;line-height: 100%;height: 100%;} 
.category-desc, .item {padding: 0;}
.cat-list-row1 { }

.category p { padding: 0 !important;}
.display-limit { padding: 0 0 10px 0;}
.display-limit select { color: #666;border: 1px solid #CCC;background: #FFF;padding: 3px 4px;}

#content table {width: 100%;border-spacing: 0;border-collapse: collapse;}
#content table th {background-color: #999999;text-align: left;padding: 5px 8px;}
#content table th  a, #content table th {color: #FFFFFF !important;}
#content table td  { padding: 8px 8px;} 
#content .edit table td  { padding: 0 !important;}
#content form tbody tr:hover {background-color: #F5F5F5;} 
#content .tags{margin-bottom:15px;}
.tags li{display:inline-block;list-style:none;}
.tags span { background: none repeat scroll 0 0 #efefef; border-radius: 6px; font-size: 80%; margin: 0 5px 0 0;  padding: 4px 7px;}
.panel { padding: 0 0 16px 0;}

/** Form */
#content fieldset , #content form { margin: 0 0 10px 0;}
#content form legend {margin-bottom: 15px;}

input, textarea, dd select, .edit select, .filters select {border: 1px solid #CCCCCC;padding: 4px 6px;margin: 3px 0;color: #666666;}
input[type=text], input[type=password] {min-width: 100px;}
dd textarea, dd select, input#jform_contact_emailmsg {width: 90%;}

/** Hightlight Boxes */
.approved,.alert-approved,.alert.alert-message {background-color: #D1F1BC;	border-color: #66CC00;}
.attention,.alert-attention{background-color: #FFFFCC;	border-color: #FFCC33;}
.notice,.alert-notice{background-color: #E0EAF3;	border-color: #8FB5DA;}
.warning,.alert-warning{background-color: #ffc;	border-color:#FC0;}
.hightlight-text, .highlight {background-color: #FFC; padding: 0 4px;}

/** Tooltips */
 .add-on .tip {display: none;} 
.tip-wrap{ z-index: 10000;}
.hasTooltip.icon-edit.tip::after{content:"?";}
.icon-edit.tip { float:right;background: #ffc;font-size:13px;padding:0 5px;border: 1px solid #D4D5AA;width:20px;height:20px;}
.tip-title {  padding: 0;margin: 0;font-weight: bold; margin-top: -15px;padding-top: 15px;  padding-bottom: 5px;}
.tip-text { margin: 0;}
.btn.jfedit-menu::after{content:"+";}
